Compliance Check: Add a single `pin` 

   - request
     - Generate a time-based  CID to ensure service does not have it
     - unique `name` 
     - `origins` and `meta` empty 
   - response
     - `requestid` present
     - `created` timestamp in expected format (RFC 3339, section 5.6, includes timezone or `Z`)
     - `delegates` not empty
  - Confirm pin is `queued`, `pinning` or `pinned`

_Migrated from https://github.com/ipfs/pinning-services-api-spec/issues/64_